<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>

        <form action="/login" method="post">
            username:
            <input type="text" name="username" id="">
            password:
            <input type="password" name="password" id="">
            <input type="submit" value="SUBMIT">
        </form>
    </body>
</html>